<footer id="footer">
  <div class="wrapper">

    <div class="footer-left">
      <nav>
        <ul>
          <li>
            {% include components/nav-link.html href="/periodics" text="Periodics" %}
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-middle">
      <nav>
        <ul>
          <li>
            <a href="https://www.behance.net/{{ site.behance_username }}" target="_blank">
              <img src="/assets/images/behance-icon.svg" alt="Behance" />
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-right">
      <nav>
        <ul>
          <li>
            {% include components/nav-link.html href="/contact" text="Contact" %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
