@font-face {
    font-family: 'NHaasGroteskTXPro-Rg';
    src: url(../fonts/NHaasGroteskTXPro-56It/NHaasGroteskTXPro-55Rg.ttf) format('truetype');
}

@font-face {
    font-family: 'Ogg-Roman';
    src: url(../fonts/Ogg/Ogg-Roman.otf) format('opentype');
}

@font-face {
    font-family: 'Ogg-Italic';
    src: url(../fonts/Ogg/Ogg-Italic.otf) format('opentype');
}
